@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSauceSansBold";
  src: local("OpenSauceSansBold"),
    url("./fonts/OpenSauceSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSauceSansSemiBold";
    src: local("OpenSauceSansSemiBold"),
      url("./fonts/OpenSauceSans-SemiBold.ttf") format("truetype");
  }